version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 7
    labels:
      - "maintenance"
      - "dependencies"
    ignore:
      - dependency-name: "grpcio"
      - dependency-name: "protobuf"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 7
    labels:
      - "maintenance"
    assignees: 
      - "pyansys-ci-bot"
