# Exclusions
exclude: ^(doc/source/examples)

# initially copied from pymapdl
repos:
- repo: https://github.com/psf/black
  rev: 26.1.0  # IF VERSION CHANGES --> MODIFY "blacken-docs" MANUALLY -  ALSO: check pyproject.toml
  hooks:
  - id: black

- repo: https://github.com/adamchainz/blacken-docs
  rev: 1.16.0
  hooks:
  -   id: blacken-docs
      additional_dependencies: [black==26.1.0] # Ensure synced with black version above

- repo: https://github.com/pycqa/isort
  rev: 7.0.0 # Should be in sync with version in pyproject.toml
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: 7.3.0 # ensure in sync with pyproject.toml
  hooks:
  - id: flake8

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1 # ensure in sync with pyproject.toml
  hooks:
  - id: codespell
    args: ["--ignore-words", "doc/styles/config/vocabularies/ANSYS/accept.txt"]

# add this eventually
# - repo: https://github.com/pycqa/pydocstyle
#   rev: 6.1.1
#   hooks:
#   - id: pydocstyle
#     additional_dependencies: [toml]
#     exclude: "tests/"

# validate GitHub workflow files
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.27.3
  hooks:
    - id: check-github-workflows

- repo: https://github.com/ansys/pre-commit-hooks
  rev: v0.4.3
  hooks:
  - id: add-license-headers
    args:
    - --start_year=2023
