[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
# Check https://flit.readthedocs.io/en/latest/pyproject_toml.html for all available sections
name = "ansys-systemcoupling-core"
version = "0.1.3"
description = "A Python wrapper for Ansys System Coupling."
readme = "README.rst"
requires-python = ">=3.7"
license = {file = "LICENSE"}
authors = [
    {name = "ANSYS, Inc.", email = "pyansys.support@ansys.com"},
]
maintainers = [
    {name = "PyAnsys developers", email = "pyansys.maintainers@ansys.com"},
]
dependencies = [
	"ansys-api-systemcoupling==0.1.0",
	"grpcio>=1.30.0",
	"grpcio-status>=1.30.0,<1.51.2",
	"googleapis-common-protos>=1.50.0",
	"protobuf>=3.20.1,<4.0.0",
	"psutil>=5.7.0",
	"pyyaml",
	"appdirs>=1.4.0",
	"importlib-metadata>=4.0",
]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Information Analysis",
    "License :: OSI Approved :: MIT License",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX",
    "Operating System :: MacOS",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]

[project.optional-dependencies]
build = [
	"build",
]
classesgen = [
	# Dependencies for API class generation from System Coupling metadata

	# NB
	# black and isort are called programmatically to keep generated code
	# consistent with style elsewhere. We need to keep the versions in
	# sync with the precommit dependencies.
	"black==23.1.0",
	"isort==5.12.0",
]
doc = [
	"ansys-sphinx-theme==0.9.5",
	"jupyter_sphinx==0.4.0",
	"matplotlib",
	"numpydoc==1.5.0",
	"pypandoc==1.11",
	"pytest-sphinx==0.5.0",
	"Sphinx==5.3.0",
	"sphinx-autobuild==2021.3.14",
	"sphinx-autodoc-typehints==1.22",
	"sphinx-copybutton==0.5.1",
	"sphinx-gallery==0.12.2",
	"sphinx-notfound-page==0.8.3",
	"sphinxcontrib-websupport==1.2.4",
	"sphinxemoji==0.2.0",

	# pyansys dependencies for sphinx gallery examples
	"ansys-fluent-core",
	"ansys-dpf-core",
]
style = [
	"codespell==2.2.4",
	"flake8==6.0.0",
]
tests = [
	"pytest",
	"pytest-cov",
	"psutil>=5.7.0",
]

[tool.flit.module]
name = "ansys.systemcoupling.core"

[project.urls]
Source = "https://github.com/pyansys/pysystem-coupling/"
Homepage = "https://github.com/pyansys/pysystem-coupling/"
Documentation = "https://systemcoupling.docs.pyansys.com/"
Tracker = "https://github.com/pyansys/pysystem-coupling/issues"

[tool.isort]
profile = "black"
force_sort_within_sections = true
default_section = "THIRDPARTY"
skip_glob = ["*__init__.py"]
filter_files = "true"
src_paths = ["doc", "src", "tests"]

[tool.coverage.run]
omit = [
    "*/adaptor/api/*",
]