# Requirements to run the "generate_datamodel" script. The script
# runs System Coupling via the pySystemCoupling API and assumes
# that it will be run directly from the package source tree. Most
# likely there will be a "-e" pip install of pySystemCoupling.

# black is called programmatically to keep generated code
# consistent with style elsewhere. We need to keep the version
# in sync with the pre-commit config.
black==22.3.0

