name: GitHub CI

# run only on main branch.  This avoids duplicated actions on PRs
on:
  pull_request:
  push:
    tags:
      - "*"
    branches:
      - main

env:
  MAIN_PYTHON_VERSION: "3.12"
  PACKAGE_NAME: "ansys-systemcoupling-core"
  PACKAGE_NAMESPACE: "ansys.systemcoupling.core"
  DOCUMENTATION_CNAME: "systemcoupling.docs.pyansys.com"
  DOC_BUILD_SYC_VERSION: 25_2
  FLUENT_IMAGE_VERSION: "v25.2.0"
  SYC_IMAGE_VERSION: "v25.2.0-sp03"
  MAPDL_IMAGE_VERSION: "v25.2-ubuntu-cicd"

permissions: {} # Zero permissions can be granted at the workflow level if not all jobs require permissions.
                # As a good rule of thumb, this normally includes jobs that don't use secrets.

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  actions-security:
    name: "Check actions security"
    runs-on: ubuntu-latest
    steps:
      - uses: ansys/actions/check-actions-security@21c9de9bee9692173780696d4a39964f20b9cfa3 # v10.1.5
        with:
          generate-summary: true
          token: ${{ secrets.GITHUB_TOKEN }}
          auditing-level: 'high'
          trust-ansys-actions: true

  doc-style:
    name: "Documentation style check"
    runs-on: ubuntu-latest
    steps:
      - name: "PySystemCoupling documentation style checks"
        uses: ansys/actions/doc-style@21c9de9bee9692173780696d4a39964f20b9cfa3 # v10.1.5
        with:
          token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}
          vale-version: "3.4.1"

  style:
    name: Code style
    runs-on: ubuntu-latest
    steps:
      - name: PyAnsys code style checks
        uses: ansys/actions/code-style@21c9de9bee9692173780696d4a39964f20b9cfa3 # v10.1.5
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

  smoke-tests:
    name: Build and smoke tests
    needs: [style]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13']

    steps:
      - name: "Build wheelhouse and perform smoke test"
        uses: ansys/actions/build-wheelhouse@21c9de9bee9692173780696d4a39964f20b9cfa3 # v10.1.5
        with:
          library-name: ${{ env.PACKAGE_NAME }}
          operating-system: ${{ matrix.os }}
          python-version: ${{ matrix.python-version }}


  check-vulnerabilities:
    name: "Check library vulnerabilities"
    runs-on: ubuntu-latest
    steps:
      - uses: ansys/actions/check-vulnerabilities@21c9de9bee9692173780696d4a39964f20b9cfa3 # v10.1.5
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}
          python-package-name: ${{ env.PACKAGE_NAME }}
          dev-mode: ${{ github.ref != 'refs/heads/main' }}
          #upload-reports: True
          #hide-log: false


  build:
    name: Build package, incl. API generation
    needs: [smoke-tests]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Create initial wheel and install
        run: make build-install

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
          password: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}

      - name: Generate API for v231
        uses: ./.github/actions/generate-api
        with:
          image-tag: v23.1.0

      - name: Generate API for v232
        uses: ./.github/actions/generate-api
        with:
          image-tag: v23.2.0

      - name: Generate API for v241
        uses: ./.github/actions/generate-api
        with:
          image-tag: v24.1.0

      - name: Generate API for v242 (SP5)
        uses: ./.github/actions/generate-api
        with:
          image-tag: v24.2.0-sp05

      - name: Generate API for v251 (SP4)
        uses: ./.github/actions/generate-api
        with:
          image-tag: v25.1.0-sp04

      - name: Generate API for v252 (SP3)
        uses: ./.github/actions/generate-api
        with:
          image-tag: v25.2.0-sp03

      #- name: Generate API for latest
      #  uses: ./.github/actions/generate-api
      #  with:
      #    image-tag: latest

      - name: Clean out dist
        run: rm -rf dist

      - name: Build library source and wheel artifacts
        # Note: Use our own build-library action as the
        #       ansys/actions one no longer supports the
        #       `checkout` option.
        #       We need this to prevent generated code from
        #       being deleted and not included in library.
        uses: ./.github/actions/build-library
        with:
          checkout: false
          library-name: ${{ env.PACKAGE_NAME }}
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

  test:
    name: Testing
    needs: [build]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Download package
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: ${{ env.PACKAGE_NAME }}-artifacts
          path: dist

      - name: Install pysystemcoupling with test dependencies
        run: |
          wheel_name=`echo dist/*.whl`
          pip install -q --force-reinstall ${wheel_name}[tests] > /dev/null

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ secrets.GH_USERNAME }}
          password: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}

      - name: Unit Test v23.1.0
        uses: ./.github/actions/unit-test
        with:
          image-tag: v23.1.0
          upload-coverage: false

      - name: Unit Test v23.2.0
        uses: ./.github/actions/unit-test
        with:
          image-tag: v23.2.0
          upload-coverage: false

      - name: Unit Test v24.1.0
        uses: ./.github/actions/unit-test
        with:
          image-tag: v24.1.0
          upload-coverage: false

      - name: Unit Test v24.2.0 (SP5)
        uses: ./.github/actions/unit-test
        with:
          image-tag: v24.2.0-sp05
          upload-coverage: false

      - name: Unit Test v25.1.0 (SP4)
        uses: ./.github/actions/unit-test
        with:
          image-tag: v25.1.0-sp04
          upload-coverage: false
        env:
          ANSYSLMD_LICENSE_FILE: "1055@${{ secrets.LICENSE_SERVER }}"

      - name: Unit Test v25.2.0 (SP3)
        uses: ./.github/actions/unit-test
        with:
          image-tag: v25.2.0-sp03
          upload-coverage: true
        env:
          ANSYSLMD_LICENSE_FILE: "1055@${{ secrets.LICENSE_SERVER }}"

      #- name: Unit Test latest
      #  uses: ./.github/actions/unit-test
      #  with:
      #    image-tag: latest
      #    upload-coverage: false
      #  env:
      #    ANSYSLMD_LICENSE_FILE: "1055@${{ secrets.LICENSE_SERVER }}"

  docs:
    name: Build Documentation
    needs: [doc-style, build]
    runs-on: public-ubuntu-latest-8-cores
    permissions:
      contents: write
      packages: read

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Download package
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: ${{ env.PACKAGE_NAME }}-artifacts
          path: dist

      - name: Install pysystemcoupling with doc dependencies
        run: |
          wheel_name=`echo dist/*.whl`
          pip install -q --force-reinstall ${wheel_name}[doc] > /dev/null

      - name: Docker Login
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Required Docker Images
        run: |
          echo "Pulling pysystem-coupling Image Version ${SYC_IMAGE_VERSION}"
          echo "Pulling pyfluent Image Version ${FLUENT_IMAGE_VERSION}"
          echo "Pulling mapdl Image Version ${MAPDL_IMAGE_VERSION}"

          docker pull ghcr.io/ansys/pysystem-coupling:${SYC_IMAGE_VERSION} &
          docker pull ghcr.io/ansys/pyfluent:${FLUENT_IMAGE_VERSION} &
          docker pull ghcr.io/ansys/mapdl:${MAPDL_IMAGE_VERSION} &

          # Wait for the background processes to finish
          wait
        env:
          SYC_IMAGE_VERSION: ${{ env.SYC_IMAGE_VERSION }}
          FLUENT_IMAGE_VERSION: ${{ env.FLUENT_IMAGE_VERSION }}
          MAPDL_IMAGE_VESRION: ${{ env.MAPDL_IMAGE_VERSION }}

      - name: Build HTML
        run: |
          export SYC_CONTAINER_USER=$(id -u):$(id -g)
          make -C doc clean
          make -C doc html SPHINXERRWARN="-W"
        env:
          PYSYC_DOC_BUILD_VERSION: ${{ env.DOC_BUILD_SYC_VERSION }}
          PYSYC_BUILD_SPHINX_GALLERY: 1
          ANSYSLMD_LICENSE_FILE: "1055@${{ secrets.LICENSE_SERVER }}"
          SYC_LAUNCH_CONTAINER: 1
          SYC_IMAGE_TAG: ${{ env.SYC_IMAGE_VERSION }}
          PYFLUENT_LAUNCH_CONTAINER: 1
          FLUENT_IMAGE_TAG: ${{ env.FLUENT_IMAGE_VERSION }}
          PYMAPDL_START_INSTANCE: FALSE
          PYMAPDL_PORT: "50053"
          DOCKER_IMAGE: ghcr.io/ansys/mapdl:${{ env.MAPDL_IMAGE_VERSION }}

      #- name: Build PDF Documentation
      #  run: |
      #    sudo apt update
      #    sudo apt-get install -y texlive-latex-extra latexmk
      #    make -C doc pdf SPHINXERRWARN=""
      #  env:
      #    PYSYC_DOC_BUILD_VERSION: ${{ env.DOC_BUILD_SYC_VERSION }}
      #    extra_mem_bot: 20000000
      #    extra_mem_top: 30000000

      - name: Upload HTML Documentation
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: documentation-html
          path: doc/_build/html
          retention-days: 7


      #- name: Upload PDF Documentation
      #  uses: actions/upload-artifact@v4
      #  with:
      #    name: documentation-pdf
      #    path: doc/_build/latex/*.pdf
      #    retention-days: 7

  upload_dev_docs:
    name: Upload dev documentation
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: [docs]
    permissions:
      contents: write
    steps:
      - name: Deploy the latest documentation
        uses: ansys/actions/doc-deploy-dev@21c9de9bee9692173780696d4a39964f20b9cfa3 # v10.1.5
        with:
          cname: ${{ env.DOCUMENTATION_CNAME }}
          token: ${{ secrets.GITHUB_TOKEN }}
          bot-user: ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
          bot-email: ${{ secrets.PYANSYS_CI_BOT_EMAIL }}
          doc-artifact-name: "documentation-html"

  release:
    name: Release project
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags')
    needs: [test, docs]
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
      contents: write
    steps:

      - name: "Download the library artifacts from build-library step"
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: ${{ env.PACKAGE_NAME }}-artifacts
          path: ${{ env.PACKAGE_NAME }}-artifacts

      - name: Display structure of downloaded files
        run: ls -R

      - name: "Upload artifacts to PyPI using trusted publisher"
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          repository-url: "https://upload.pypi.org/legacy/"
          print-hash: true
          packages-dir: ${{ env.PACKAGE_NAME }}-artifacts
          skip-existing: false

      - name: "Release to GitHub"
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          files: |
            ./**/*.whl
            ./**/*.tar.gz
            documentation-html

  upload_docs_release:
    name: "Upload release documentation"
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    needs: [release]
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Deploy the stable documentation
        uses: ansys/actions/doc-deploy-stable@21c9de9bee9692173780696d4a39964f20b9cfa3 # v10.1.5
        with:
          cname: ${{ env.DOCUMENTATION_CNAME }}
          token: ${{ secrets.GITHUB_TOKEN }}
          bot-user: ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
          bot-email: ${{ secrets.PYANSYS_CI_BOT_EMAIL }}
